@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@font-face {
    font-family: 'Round';
    src: url('./../fonts/Round_WEB-Book.woff2') format('woff2'),
        url('./../fonts/Round_WEB-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Round';
    src: url('./../fonts/Round_WEB-Medium.woff2') format('woff2'),
        url('./../fonts/Round_WEB-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

