:root {
  --font-lg: 1.4rem;
  --font-sm: 0.9rem;

  --shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  --clip-path: inset(0px -30px 0px -30px);
}

html {
  font-size: var(--font-lg);
  line-height: 1.2;
  font-feature-settings: "ss16" 1, "ss17" 1
}
.button,
.wp-element-button {
  @apply block bg-dark-bg p-0 h-10 w-10 md:w-12 md:h-12 rounded-full shadow-inner hover:shadow-md;
  
  & img {
    @apply w-full h-full;
  }
}

.menu {
  @apply font-medium;
}

a, summary       {
  @apply focus:outline-primary      
}
.special-shadow {
  box-shadow: var(--shadow);
  clip-path: var(--clip-path);
}

/* --------- HEADER --------- */
header {
  @apply select-none;
  
  .custom-logo-link {
    @apply relative -left-2 md:-left-4;
  }
  .custom-logo-link img {
    @apply w-40 md:w-72 md:w-[16rem]; 
  }

  .hamburger {
    @apply h-10 w-10  md:w-16 md:h-16 
  }

}

/* --------- SIDE BAR --------- */

#sidebar {
  background-color: rgba(255, 140, 0, 0.9);

  #primary-menu,
  #secondary-menu {
    @apply my-6;
  }

  .menu {
    @apply lowercase
  }
}

#sidebar.show {
  @apply translate-x-0
}


/* --------- CONTENT --------- */
.entry-content,
.block-editor-block-list__layout {

  box-shadow: var(--shadow);
  clip-path: var(--clip-path);

  h1 {
    @apply text-4xl;
  }

  h2 {
    /* @apply sticky top-12 */
    @apply text-2xl md:text-3xl pl-28 md:pl-[9.5rem] font-bold relative mt-6;
  }

  h3 {
    @apply text-lg;
  }

  h1, h2, h3 {
    @apply mb-6;
  }

  p, ul, ol, blockquote {
    @apply m-0 mb-4;
    
    a {
      @apply text-primary underline;

      &:hover {
        @apply no-underline;
      }
    }
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside -indent-5 pl-6;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside -indent-5 pl-6;
    }
  }

  .wp-block-quote {
    @apply border-none pl-0;
    
    p {
      @apply inline font-bold ;
    }

    cite {
      @apply inline text-small;
    }
  }
  

  .wp-block-image {
    @apply md:w-96;
  }

  /* .wp-element-button {
    @apply bg-dark-bg rounded-full p-0 shadow-inner 
  } */

  /* .arrow img {
    @apply w-16 h-16
  } */

  .wp-block-details {
    @apply border-y-2 border-gray-300 py-2 ;

    & summary {
      @apply list-none flex justify-between items-center flex-shrink  break-all;
    }

    & p {
      @apply my-6;
    }
  }

}


/* --------- FOOTER --------- */
footer {
  .footer-images {
    @apply grid grid-cols-2 md:grid-cols-6 pb-0;

    img { 
      @apply w-auto max-h-20;
    }
  }

  /* .contact-info {
    background-color: aqua
  } */
  /* .menu-container {
    background-color: blue;
  } */
}



/* * * * * * LARGER SCREENS * * * * * */
@screen md {
  :root {
    --font-lg: 1.8rem;
    --font-sm: 1.2rem;
  }
  .entry-content,
  .block-editor-block-list__layout {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }
  }
}


/* * * * * * SPECIAL * * * * * */

/* Make H1 in homepage look like normal text / Heading necessary for acessility and SEO*/
.home main h1:first-of-type{
  @apply text-base mb-0
}

/* reduce spacing between contact paragraph and button */ 
.less-margin{
  @apply mb-2 mt-2 !important
}

.anchor-padding {
  @apply scroll-pt-20
}

.page h2 {
  @apply sticky top-12 md:top-[3.7rem] z-50;
}