:root {
  --font-lg: 1.4rem;
  --font-sm: 0.9rem;

  --shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  --clip-path: inset(0px -30px 0px -30px);
}



html {
  font-size: var(--font-lg);
  font-feature-settings: "ss16" 1, "ss17" 1;
  @apply leading-7 md:leading-[1.3rem];

}
.button,
.wp-element-button {
  @apply block bg-lighter-bg p-0 h-10 w-10 md:w-12 md:h-12 rounded-full shadow-inner-special hover:shadow-md;
  
  & img {
    @apply w-full h-full;
  }
}

details .wp-element-button {
  @apply bg-light-bg shadow-none hover:shadow-none 
}

summary { 
  @apply hover:font-bold
}

.menu {
  @apply font-medium;
}

a, summary       {
  @apply focus:outline-primary      
}
.special-shadow {
  box-shadow: var(--shadow);
  clip-path: var(--clip-path);
}

.shadow-inner-special {
  box-shadow: inset 0 6px 6px 0 rgb(0 0 0 / 0.2);
}
/* --------- HEADER --------- */
header {
  @apply select-none ;
  
  .logo {
    @apply relative left-5 md:left-6 xl:left-[4.5rem] text-black;
  }

  h1 {
    @apply  hidden md:block text-2xl md:text-3xl xl:text-4xl font-bold
  }
  .custom-logo-link {
    @apply relative ;
  }
  .custom-logo-link img {
    @apply w-8 md:w-12; 
  }

  .hamburger {
    @apply h-10 w-10 md:w-12 md:h-12
  }

}

/* --------- SIDE BAR --------- */

#sidebar {
  background-color: rgba(255, 140, 0, 0.9);

  #primary-menu,
  #secondary-menu {
    @apply my-6;
  }

  .menu {
    @apply lowercase
  }
}

#sidebar.show {
  @apply translate-x-0
}

/* --------- STICKY MENU --------- */
#sticky-menu {
  @apply fixed bottom-10 md:bottom-16 right-0 md:right-2 h-auto 3xl:pr-[calc((100vw-1615px)*0.5)] z-10;

  ul {
    @apply flex flex-col gap-4 md:gap-8 place-items-end;
  }

  li {
    @apply w-20 h-10 md:w-28 md:h-16 rounded-l-full bg-lighter-bg flex items-center pl-4 md:pl-5 shadow-inner-special hover:shadow-md font-bold text-xs md:text-base box-content;
  }

  li span:first-child {
    @apply text-primary;
  }
  li span:last-child {
    @apply text-secondary;
  }
  li a {
    @apply text-left leading-4
  }
}

/* --------- CONTENT --------- */

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.entry-content,
.block-editor-block-list__layout {

  box-shadow: var(--shadow);
  clip-path: var(--clip-path);

  h1 {
    @apply text-4xl;
  }

  h2 {
    /* @apply sticky top-12 */
    @apply text-2xl md:text-3xl  font-bold relative mt-6;
  }

  h3 {
    @apply text-lg break-all;
  }

  h1, h2, h3 {
    @apply mb-6 scroll-mt-2 md:scroll-mt-10;
  }

  p, ul, ol, blockquote {
    @apply m-0 mb-4;
    
    a {
      @apply text-primary underline break-all;

      &:hover {
        @apply no-underline;
      }
    }
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside -indent-5 pl-6 pb-2 ;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside -indent-5 pl-6 pb-2 ;
    }
  }
  
  .wp-block-quote {
    @apply border-none pl-0 text-lg md:text-4xl;
    
    p {
      @apply inline font-bold leading-3 ;
    }

    cite {
      @apply inline text-small;
    }
  }
  

  .wp-block-image {
    @apply md:w-96;
  }

  /* .wp-element-button {
    @apply bg-dark-bg rounded-full p-0 shadow-inner 
  } */

  /* .arrow img {
    @apply w-16 h-16
  } */

  .wp-block-details {
    @apply border-t border-gray-300 py-1 ;
    /* box-shadow: inset  0px 1px 3px rgba(0, 0, 0, 0.1);  */
    & summary {
      @apply list-none flex justify-between items-center flex-shrink  break-all;
      
      
    }

    summary::-webkit-details-marker {
      display: none;
    }
    
    & p {
      @apply my-6;
    }
  }

}


/* --------- FOOTER --------- */
footer {
  .footer-images {
    @apply grid grid-cols-2 md:grid-cols-6 pb-0;

    img { 
      @apply w-auto max-h-20;
    }
  
  }

  a {
    @apply font-bold tracking-wide pb-4;
  }
  /* .contact-info {
    background-color: aqua
  } */
  /* .menu-container {
    background-color: blue;
  } */
}

/* * * * * * MEDIUM SCREENS * * * * * */
@screen md {
  :root {
    --font-lg: 1.4rem;
    --font-sm: 1.2rem;
  }
  .entry-content,
  .block-editor-block-list__layout {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }
  }
}




/* * * * * * LARGER SCREENS * * * * * */
@screen xl {
  :root {
    --font-lg: 1.8rem;
    --font-sm: 1.2rem;
  }
  .entry-content,
  .block-editor-block-list__layout {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }
  }
}

/* * * * * * FORMULARS  * * * * * */
input, textarea {
  width: 100% !important;
}

form {
  @apply text-sm;
  .wpcf7-submit {
    @apply button max-w-40 font-bold cursor-pointer;
  }
  .wpcf7-list-item {
    @apply m-0;
  }
}


/* * * * * * SPECIAL * * * * * */

/* Make H1 in homepage look like normal text / Heading necessary for acessility and SEO*/
.home main h1:first-of-type{
  @apply text-base mb-0
}

/* reduce spacing between contact paragraph and button */ 
.less-margin{
  @apply mb-2 mt-2 !important
}

/* special classes for stick elements */
.page .stick {
  @apply  sticky top-[0.8rem] md:top-[2.6rem] z-50 pl-32 md:pl-[9.7rem] xl:pl-40 text-2xl md:text-3xl xl:text-4xl;
}

